@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&family=Playfair+Display:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Playfair Display', serif;
  line-height: 1.8;
  word-spacing: 3px; 
  text-transform: none; 
}


p {
  font-size: 18px; 
  line-height: 1.8; 
}


.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: url("./assets/images/old-book-bg.jpg") no-repeat center center fixed;
  background-size: cover;
  color: #5a3825;
}


.content {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
